*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

*::selection{
    color: #fff;
    background-color: black;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #f7f7f7
}

#nav{
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#nav-part1{
    height: 82px;
    overflow: hidden;
}

#nav-part1 svg{
    display: block;
}

#nav-part2{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links{
    padding: 10px;
}

#nav-part2 #links a{
    text-transform: uppercase;
    font-size:12px;
    font-weight: 500;
    margin: 0 20px;
    color: black;
    text-decoration: none;
}

#icons{
    padding: 10px;
    border-radius:50px;
    background-color: #f7f7f7;
}

#nav-part2 #icons i{
    font-size: 18px;
    margin:0 20px;
    font-weight: 100;
}

#cursor{
    height: 250px;
    width: 250px;
    background-color: #fff;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%,-50%) scale(0);
}

#page1{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 28vh;
}

#page1 h1{
    font-size: 15.8vw;
    font-weight: 900;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -8px;
}

#video-container{
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    position: relative;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#play{
    padding: 2.8vw 2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    font-family: futura;
    border-radius: 50%;
    position: fixed;
    opacity: 0;
    scale: 0;
}

#page2{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
}

.elem{
    height: 100%;
    width: 31%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.elem img{
    height: 100%;
    width: 100% ;
    object-fit: cover;
    scale: 1.1;
}  

.elem .details{
    height: 50px;
    width: 60%;
    border-radius: 50px;
    position: absolute;
    z-index: 9;
    background-color: palegoldenrod;
}

.elem .details:hover{
    height:200px;
}

#writing{
    height: 50vh;
    width: 100%;
    background-color: #f7f7f7;
    display: flex;

}

#quote{
    margin-left: 25px;
    margin-top: 10px;
}

#quote h1{
    font-size: 55px;
    font-family: futura;
    line-height: 3.5vw;
    text-transform: uppercase;
}

#msg{
    margin-top: 18px;
    padding: 0 0 0 48vh;
    position: relative;
}

#msg #para1 h4{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 3vh;
}

#msg #para2{
    margin-top: 30px;
}

#msg #para2 h4{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 3vh;
}

#page3{
    min-height: 140vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child{
    height: 80vh;
    width: 38vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child img{
    height: 100%;
    object-fit: cover;

}

#connect{
    height: 50vh;
    width: 100%;
    display: flex;
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
}

#handles{
    margin-top: 40px;
    margin-left: 1.5%;
    margin-right: 10px;
}

#handles p{
    font-size: 12px;
    color: rgb(148, 148, 148);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

#handles a{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: block;
    margin-bottom: 3px;
    text-decoration: none;
}

#FAQs{
    text-align: end;
    margin-top: 40px;
    margin-left: 81%;
}

#FAQs p{
    font-size: 12px;
    color: rgb(148, 148, 148);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

#FAQs a{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: block;
    margin-bottom: 3px;
    text-decoration: none;
}

#fin-msg {
    height: 32vh;
    background-color: #f7f7f7;
}

#copyright{
    margin-left: 35%;
}

#copyright a{
    margin-left: 31px;
    font-size: 12px;
    text-decoration: none;
    color: rgb(148, 148, 148);
    font-family: Arial, Helvetica, sans-serif;
}

#fin-para{
    padding: 80px 250px 0 250px;
}

#fin-para p{
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
}

@media (max-width:600px){

    #nav{
        width: 100%;
        position: fixed;
        z-index: 99;
        padding: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    #nav-part1{
        height: 67px;
        overflow: hidden;
    }
    
    #nav-part1 svg{
        display: block;
        height: 67px;
        width: 80px;
    }

    #nav #twogoodlogo{
        height: 40px;
        margin-left: -20px
    }
    
    #nav-part2{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    
    #links{
        padding: 10px;
        display: none;
    }
    
    
    #icons{
        padding: 7px;
        border-radius:50px;
        background-color: #f7f7f7;
    }
    
    #nav-part2 #icons i{
        font-size: 15px;
        margin:0 20px;
        font-weight: 100;
    }

    #page1{
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 28vh;
    }
 
    #page1 h1{
        font-size: 15.5vw;
        line-height: 14vw;
        letter-spacing: -3px;
    }

    #video-container{
        height: 28vh;
        margin-top: 3vw;
    }

    #play{
        padding: 7.5vw 5.2vw;
        color: #fff;
        font-size: 4vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%,-50%);
    }
    
    #page2{
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5vw 3vw;
        justify-content: space-between;
    }
    
    .elem{
        height: 100vh;
        width: 100%;
        /* background-color: red; */
        overflow: hidden;
        margin-bottom: 3vw;
    }

    .elem .details{
        height: 40px;
        width: 70%;
        border-radius: 50px;
        position: absolute;
        z-index: 9;
        background-color: palegoldenrod;
    }

    #page3{
        min-height: 120vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .child{
        height: 54vh;
        width: 88vw;
        position: relative;
        padding: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .child img{
        height: 100%;
        object-fit: cover;
    
    }
 
    #writing{
        height: 70vh;
        width: 100%;
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    #quote{
        margin-left: 43px;
    }
    
    #quote h1{
        font-size: 38px;
        font-family: futura;
        line-height: 13vw;
        text-transform: uppercase;
    }
    
    #msg{
        margin-left: 10%;
        padding: 0;
        margin-top: 18px;
    }
  
    #connect{
        height: 40vh;
        width: 100%;
        display: flex;
        background-color: #f7f7f7;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #handles{
        margin-top: 40px;
        margin-left: 25px;
        margin-right: 10px;
    }
    
    #handles p{
        font-size: 12px;
        color: rgb(148, 148, 148);
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 20px;
    }
    
    #handles a{
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        display: block;
        margin-bottom: 3px;
        text-decoration: none;
    }
    
    #FAQs{
        text-align: start;
        margin-top: 40px;
        margin-left: 105px;
    }
    
    #FAQs p{
        font-size: 12px;
        color: rgb(148, 148, 148);
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 20px;
    }
    
    #FAQs a{
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        display: block;
        margin-bottom: 3px;
        text-decoration: none;
    }
    
    #fin-msg {  
        height: 40vh;
        background-color: #f7f7f7;
    }
    
    #copyright{
        margin-left: 13px;
    }
    
    #copyright a{
        margin-left: 10px;
        font-size: 12px;
        text-decoration: none;
        color: rgb(148, 148, 148);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #fin-para{
        padding: 20px;
    }
    
    #fin-para p{
        text-align: start;
        font-size: 14px;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
}
